body {
    margin: 0;
    background: rgb(250,250,250);
}
* {
    user-select: none;
}
.root {
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
}
.main {
    width: 100%;
    display: flex;
}
.content {
    margin-top: 21.44px;
    margin-right: 4%;
}
.purple {
    color: rgb(255, 242, 0);
    text-decoration: none;
}
.lightgray, i, .fangshi a {
    color: inherit;
}
.sticky {
    padding: 10px;
    color: rgb(80,80,80);
    transition: all 1s;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 10px;
    width: 305.766px;
    position: sticky;
    top: 0;
    
    transition: all 1s;
}
.sticky:hover {
    color: black;
    border-radius: 25px;
    padding: 25px;
    margin-left: 6%;
}
.stickybox:hover {
    margin-left: 6%;
    margin-right: 7%;
}
.stickybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
    margin-right: 6%;
    margin-top: 21.44px;
    transition: all 1s;
}
.fangshi ul {
    list-style-type: none;
}
.projects, .posts, .diary {
    margin-top: 21.44px;
    color: rgb(100,100,100);
    transition: all 1s;
}
.projects:hover, .posts:hover, .diary:hover {
    color: black;
}
a {
    color: inherit;
}
.menu {
    padding: 22px;
    color: rgb(181,230,29);
}
h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.list {
    margin-top: 50px;
}
.diary table {
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a button {
    padding: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    background: rgb(0, 131, 65);
    color: white;
}
.smallavt {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
    overflow: hidden;
}